.loader{

    position:fixed;

    inset:0;

    background:var(--background);

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    z-index:99999;

}

.loader h1{

    color:var(--text-primary);

    font-size:60px;

    margin-bottom:30px;

}

.loading-bar{

    width:260px;

    height:8px;

    background:var(--button-background);

    border-radius:30px;

    overflow:hidden;

}

.loading-fill{

    width:0;

    height:100%;

    background:var(--accent);

    animation:load 2s linear forwards;

}

@keyframes load{

from{

width:0;

}

to{

width:100%;

}

}
