.about{
    padding:100px 8%;
    background:#0a0a15;
}

.about-container{
    max-width:1200px;
    margin:auto;
}

.section-title{
    text-align:center;
    margin-bottom:70px;
}

.section-title h2{
    font-size:42px;
    color:white;
}

.section-title span{
    color:#8b5cf6;
    font-size:18px;
}

.about-content{
    display:grid;
    grid-template-columns:1.2fr 1fr;
    gap:60px;
    align-items:center;
}

.about-text h3{
    color:white;
    font-size:32px;
    margin-bottom:25px;
}

.about-text p{
    color:#c9c9c9;
    line-height:1.9;
    margin-bottom:20px;
    font-size:17px;
}

.about-cards{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:20px;
}

.card{
    background:var(--surface);
    padding:30px;
    border-radius:20px;
    text-align:center;
    transition:.4s;
    border:1px solid rgba(139,92,246,.15);
}

.card:hover{
    transform:translateY(-10px);
    box-shadow:0 0 25px rgba(139,92,246,.45);
}

.card svg{
    font-size:40px;
    color:#8b5cf6;
    margin-bottom:15px;
}

.card h4{
    color:white;
    margin-bottom:10px;
}

.card p{
    color:#bfbfbf;
}

@media(max-width:900px){

.about-content{
grid-template-columns:1fr;
}

.about-cards{
margin-top:40px;
}

}

@media(max-width:600px){

.about-cards{
grid-template-columns:1fr;
}

.section-title h2{
font-size:34px;
}

.about-text h3{
font-size:26px;
}

}
